<script type="text/javascript">
	$(document).ready(function()
	{
		createEnterpriseApplication();

	});

</script>
<section class="filtering">
	<form>

		<input type="text" name="name" id="name" placeholder="Name" required="required"/>

		<button type="submit" id="LoadRecordsButton" name="LoadRecordsButton">
			Search
		</button>
	</form>
</section>
<section id="enterprise"></section>