<script type="text/javascript">
	$(document).ready(function()
	{
		//alert("ready");
		createUser();

	});

</script>
<section class="filtering">
	<form>

		<input type="text" name="firstname" id="firstname" placeholder="First Name" required="required"/>

		<button type="submit" id="LoadRecordsButton" name="LoadRecordsButton">
			Search
		</button>
	</form>
</section>
<section id="user"></section>