<!DOCTYPE html>
<html>
	<head>
		<title>Roles</title>
	</head>
	<body class="container-fluid">
		<header class="row top-buffer">
			<div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1">
			<h4 class="glyphicon glyphicon-th-list"> Roles</h4>
			</div>
			<div class="col-md-2 col-sm-2">
				<select class="form-control input-sm">
				  <option>Id</option>
				  <option>Name</option>
				  <option>Created</option>
				  <option>Modified</option>
				</select>
			</div>
			<div class="col-md-2 col-sm-2">
				<input type="text" id="idSearch" name="idSearch" class="form-control input-sm"/>
			</div>
			<div class="col-md-offset-4 col-sm-offset-4 col-md-1 col-sm-1">
				<button id="idNew" type="button" class="btn btn-primary glyphicon glyphicon-plus"></button>
			</div>
		</header>
		<div class="row">
			<div class="col-md-3 col-sm-3">
				Dead
			</div>
			<div class="col-md-9 col-sm-9">
				Dead
			</div>
		</div>
	</body>
</html>
