<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<!-- <link href="assets/bootstrap-theme.min.css" rel="stylesheet" />
		<script src="assets/respond.js"></script> -->
	</head>
	<body>
		<div class="container-fluid">
			<header class="row">
				<div class="col-md-12 col-sm-12">
					<blockquote>Seven Stone
						<small>Task management made easy</small>
					</blockquote>
						
				</div>
			</header>
			
		</div>
		<!-- javascript file -->
		<!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src="js/bootstrap.min.js"></script> -->
	</body>
</html>